<h1>New caction</h1>

<% form_for(@caction) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :call_id %><br />
    <%= f.text_field :call_id %>
  </p>
  <p>
    <%= f.label :timestamp %><br />
    <%= f.datetime_select :timestamp %>
  </p>
  <p>
    <%= f.label :uniqueid %><br />
    <%= f.text_field :uniqueid %>
  </p>
  <p>
    <%= f.label :action %><br />
    <%= f.text_field :action %>
  </p>
  <p>
    <%= f.label :field1 %><br />
    <%= f.text_field :field1 %>
  </p>
  <p>
    <%= f.label :field2 %><br />
    <%= f.text_field :field2 %>
  </p>
  <p>
    <%= f.label :field3 %><br />
    <%= f.text_field :field3 %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', cactions_path %>
