<!--    
//    Copyright 2008 Jayson Vaughn 
//    This file is part of Queuetastic.

//    Queuetastic is free software: you can redistribute it and/or modify
//    it under the terms of the GNU General Public License as published by
//    the Free Software Foundation, either version 3 of the License, or
//    (at your option) any later version.

//    Queuetastic is distributed in the hope that it will be useful,
//    but WITHOUT ANY WARRANTY; without even the implied warranty of
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//    GNU General Public License for more details.
              
//    You should have received a copy of the GNU General Public License
//    along with Queuetastic.  If not, see <http://www.gnu.org/licenses/>.
-->

<div align="center">
<div class="blur" style="width: 62%;">
  <div class="shadow">
    <div class="content">
      <div style="font: normal 16px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;" align="center">Group: <%=h @group.name.to_s %></div>
    </div>
  </div>
</div>
</div>
<br />
<p>
  <b>Name:</b>
  <%=h @group.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @group.description %>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
