<h1>Listing calls</h1>

<table>
  <tr>
    <th>Cid</th>
    <th>Queu</th>
    <th>Queue name</th>
    <th>Timestamp</th>
    <th>Uniqueid</th>
    <th>Agent</th>
  </tr>

<% for call in @calls %>
  <tr>
    <td><%=h call.cid %></td>
    <td><%=h call.queu_id %></td>
    <td><%=h call.queue_name %></td>
    <td><%=h call.timestamp %></td>
    <td><%=h call.uniqueid %></td>
    <td><%=h call.agent_id %></td>
    <td><%= link_to 'Show', call %></td>
    <td><%= link_to 'Edit', edit_call_path(call) %></td>
    <td><%= link_to 'Destroy', call, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New call', new_call_path %>
