<!--    
//    Copyright 2008 Jayson Vaughn 
//    This file is part of Queue-Tip.

//    Queue-Tip is free software: you can redistribute it and/or modify
//    it under the terms of the GNU General Public License as published by
//    the Free Software Foundation, either version 3 of the License, or
//    (at your option) any later version.

//    Queue-Tip is distributed in the hope that it will be useful,
//    but WITHOUT ANY WARRANTY; without even the implied warranty of
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//    GNU General Public License for more details.
              
//    You should have received a copy of the GNU General Public License
//    along with Queue-Tip.  If not, see <http://www.gnu.org/licenses/>.
-->
<p style="color: green"><%= flash[:notice] %></p>
<% @queues.each do |queue, value| %>  <!-- Begin Loop for every Queue in the @queues hash -->
<div class="blur" style="width: 100%;">
  <div class="shadow">
    <div class="content">
      <div style="font: normal 14px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;"><%=h queue.to_s.upcase %></div>
    </div>
  </div>
</div>
  <!-- Start Table for Queue Stats -->
  <table width="100%" align="center">
      <th>Calls Waiting</th>
      <th>Hold Time</th>
      <th>Abandoned</th>
      <th>Completed</th>
      <th>Max</th>
      <th>Srvc Lvl</th>
      <th>Srvc Perc.</th>
      <th>Weight</th>
    </tr>
    <tr>
      <td><%= @queues[queue]['Calls'] %></td>
      <td><%= @queues[queue]['Holdtime'] %></td>
      <td><%= @queues[queue]['Abandoned'] %></td>
      <td><%= @queues[queue]['Completed'] %></td>
      <td><%= @queues[queue]['Max'] %></td>
      <td><%= @queues[queue]['ServiceLevel'] %></td>
      <td><%= @queues[queue]['ServicelevelPerf'] %>%</td>
      <td><%= @queues[queue]['Weight'] %></td>
    </tr>
  </table>
  <!-- end table for Queue Stats -->

  <!-- Start Table for Agents/Members -->
  <table width="100%" align="center">
    <tr>
      <th>Agent</th>
      <th>Status</th>
      <th>Calls</th>
      <th>Last Call</th>
      <th>Paused</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% @queues[queue][:members].each do |agent, element| %> <!-- Begin Loop for every Agent/Member in the @queues[queue]['members'] hash -->
    <tr>
      <td><%= @queues[queue][:members][agent]['Name'] %></td>
      <td><%= case @queues[queue][:members][agent]['Status']; when '0'; "Unknown"; when '1'; "Ready"; when '2'; "In Use"; when '3'; "Busy"; when '4'; "Invalid"; when '5'; "Unavailable";  when '6'; "Ringing"; when '7'; "Ringing & In Use"; when '8'; "On Hold"; end %></td>
      <td><%= @queues[queue][:members][agent]['CallsTaken'] %></td>
      <td><%= Time.at(@queues[queue][:members][agent]['LastCall'].to_f).strftime("%H:%M:%S") unless @queues[queue][:members][agent]['LastCall'].to_f == 0.0 %></td>
      <td><%= @queues[queue][:members][agent]['Paused'] %></td>
      <td><%= link_to 'Log Off', {:controller => 'live_view', :action => 'logoff', :agent => @queues[queue][:members][agent]['Location'].to_s, :queue => queue.to_s} %></td>
      <td><%= link_to 'Pause', {:controller => 'live_view', :action => 'pause_agent', :agent => @queues[queue][:members][agent]['Location'].to_s} %></td>
      <td><%= link_to 'Un-Pause', {:controller => 'live_view', :action => 'unpause_agent', :agent => @queues[queue][:members][agent]['Location'].to_s} %></td>
    </tr>
  <% end %>
  </table>
  <!-- End Table for Agents/Members -->

  <!-- Begin Table for Callers -->
  <table width="100%" align="center">
    <tr>
      <th style="background: #DDDDDD;">Position</th>
      <th style="background: #DDDDDD;">Phone No</th>
      <th style="background: #DDDDDD;">CID Name</th>
      <th style="background: #DDDDDD;">Wait (secs)</th>
      <th style="background: #DDDDDD;">Channel</th>
    </tr>
    <% @queues[queue][:callers].each do |caller, element| %> <!-- Begin loop for every Caller in the @queues[queue]['callers'] hash -->
    <tr>
      <td><%= @queues[queue][:callers][caller]['Position'] %></td>
      <td><%= @queues[queue][:callers][caller]['CallerID'] %></td>
      <td><%= @queues[queue][:callers][caller]['CallerIDName'] %></td>
      <td><%= @queues[queue][:callers][caller]['Wait'] %></td>
      <td><%= @queues[queue][:callers][caller]['Channel'] %></td>
    </tr>
  <% end %>
  </table>
  <!-- end table for Callers -->
  <br />
<% end %>
