<h1>Listing aactions</h1>

<table>
  <tr>
    <th>Agent</th>
    <th>Channel</th>
    <th>Timestamp</th>
    <th>Queue</th>
    <th>Queue name</th>
    <th>Uniqueid</th>
  </tr>

<% for aaction in @aactions %>
  <tr>
    <td><%=h aaction.agent_id %></td>
    <td><%=h aaction.channel %></td>
    <td><%=h aaction.timestamp %></td>
    <td><%=h aaction.queu_id %></td>
    <td><%=h aaction.queue_name %></td>
    <td><%=h aaction.uniqueid %></td>
    <td><%= link_to 'Show', aaction %></td>
    <td><%= link_to 'Edit', edit_aaction_path(aaction) %></td>
    <td><%= link_to 'Destroy', aaction, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New aaction', new_aaction_path %>
