<p>
  <b>Agent:</b>
  <%=h @aaction.agent_id %>
</p>

<p>
  <b>Channel:</b>
  <%=h @aaction.channel %>
</p>

<p>
  <b>Timestamp:</b>
  <%=h @aaction.timestamp %>
</p>

<p>
  <b>Queue:</b>
  <%=h @aaction.queu_id %>
</p>

<p>
  <b>Queue name:</b>
  <%=h @aaction.queue_name %>
</p>

<p>
  <b>Uniqueid:</b>
  <%=h @aaction.uniqueid %>
</p>


<%= link_to 'Edit', edit_aaction_path(@aaction) %> |
<%= link_to 'Back', aactions_path %>
