<!--    
//    Copyright 2008 Jayson Vaughn 
//    This file is part of Queuetastic.

//    Queuetastic is free software: you can redistribute it and/or modify
//    it under the terms of the GNU General Public License as published by
//    the Free Software Foundation, either version 3 of the License, or
//    (at your option) any later version.

//    Queuetastic is distributed in the hope that it will be useful,
//    but WITHOUT ANY WARRANTY; without even the implied warranty of
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//    GNU General Public License for more details.
              
//    You should have received a copy of the GNU General Public License
//    along with Queuetastic.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Queuetastic: Settings</title>
    <%= stylesheet_link_tag 'queuetastic/style' %>
  </head>
  <body>
    <div id='container'>
      <div id='header'>
        <div id='logo'>
          <%= yield :header %>
        </div>
        <div id='menu'>
          <%= yield :menu %>
        </div>
      </div>
      <div id='main'>
        <div id='content'>
          <div id='head_image'>
            <div id='slogan'>
              <strong>
                Queuetastic
              </strong>
              <br />
              Asterisk Queue Monitoring and Analysis
            </div>
          </div>
          <div id='text'>
            <p style="color: green"><%= flash[:notice] %></p>
            <%= yield :text %>
          </div>
          <div id='sidebar'>
            <%= yield :sidebar %>
          </div>
        </div>
        <div id='footer'>
          <div id='left_footer'>
            Queuetastic &trade; &copy; 2009 Jayson Vaughn
          </div>
          <div id='right_footer'>
            <%= link_to 'Dashboard', :controller => "start", :action => "index" %>
            <%= link_to 'Monitor', :controller => "live_view", :action => "index" %>
            <%= link_to 'Reports', :controller => "report", :action => "index" %>
            <%= link_to 'Settings', :controller => "settings", :action => "index" %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
